.flowing {
  width: 0;
  margin: 0;
  font-weight: 800;
  white-space: nowrap;
  font-size: 5rem;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  animation: flowing-anim;
  animation-duration: 2s;
  letter-spacing: 0.1em;
  color: #2a3948;
}

@keyframes flowing-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
